@import "_nullstyle";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

body {
	font-weight: 500;
	font-family: "Inter", sans-serif;
	color: #333333;
}

.container {
	padding: 100px;
	width: 100%;

	display: flex;

	justify-content: center;
	align-items: center;
}

.resume {
	padding: 100px;

	width: 1200px;
	min-height: 700px;
	border-radius: 40px;
	box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.5);
}

.resume-child {
	padding: 100px;

	width: 1200px;
	border-radius: 40px;
	box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.5);
}

.title {
	font-size: 40px;
}

.description {
	margin-top: 20px;
	font-size: 20px;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	border-radius: 50%;
	width: 40px;
	height: 40px;

	background: #edf1f7;
}

input:checked {
	background: #302802;
	border: 9px solid #ffde29;
}

.radiobuttons-list {
}

.radiobutton-container {
	height: 400px;
}
.radio-text {
	font-size: 20px;

	padding-top: 12px;
	padding-left: 20px;
}
.radiobutton {
	display: flex;
	margin-top: 30px;
}
.add-info {
	margin-top: 10px;
	font-size: 15px;
	color: #999999;
}

.button {
	margin-top: 40px;
	display: flex;
}

.button-back {
	margin-right: 20px;
	width: 70px;
	height: 70px;

	background: #ecf0f7;

	border-radius: 5px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.arrow-left {
	width: 40px;
	fill: #2e6deb;
}

.button-next {
	color: #333333;
	font-size: 20px;

	width: 150px;
	height: 70px;

	background: #ffde29;

	border-radius: 5px;

	&:visited {
		color: #333333;
	}

	display: flex;
	align-items: center;
	justify-content: center;
}

.loading {
	width: 200px;
	margin: 0 auto;
	padding-top: 200px;
}

.loader {
	position: absolute;
	border: 7px solid #fbff03;
	border-top: 10px solid #ffffff;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	animation: spin 0.7s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.volume-icon {
	width: 35px;
	height: 35px;
	background-image: linear-gradient(78.11deg, #1771e6 -6.79%, #a381ff 95.65%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.volume {
	width: 25px;
	fill: white;
}

.photo {
	padding-top: 20px;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.image {
	height: 500px;
	box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.5);
	border-radius: 5px;
}

.contact {
}
.text-field {
	margin-top: 40px;
	padding: 20px;
	display: flex;
	background: #f6f7f8;
	width: 100%;
	border-radius: 10px;
}
.text-information {
	line-height: 25px;
	max-width: 95%;
	font-weight: 400;
	padding: 20px;
	font-size: 20px;

	h2 {
		font-size: 25px;
		margin-bottom: 50px;
	}
	p {
		margin-top: 20px;
	}
	span {
		font-weight: 600;
	}
	li {
		padding-left: 60px;
	}
	a {
		color: #2e6deb;
	}
}

.long-read {
	p::first-letter {
		padding-left: 50px;
	}
}

.professionsl {
	margin-top: 40px;
}
.professionsl-add {
	margin-left: 50px;
	&:visited {
		color: #2e6deb;
	}
}
